@import url('../multiselect-dropdown.component.scss');

*{
    font-family: "Roboto", sans-serif;

}
.combo-wrap{
    background-color: #fafafa;
    input[type="text"]{
        border: none;
        outline: none;
        background-color: inherit;
        position: relative;
    }
    border:1px solid hsl(0, 0%, 64%);
    outline: none;
    transition: outline 0.1s ease-in-out;
    border-radius: 4px;
    padding: 0.5rem;

    &:has(input[type="text"]:focus),&:has(input[data-not-empty="true"]){
        outline: #7E57C2    auto 2px;
    }
    .input-label{
        margin-left: 1rem;
        top: calc(50% - 0.6rem);
    }
    input:focus ~ .input-label, input[data-not-empty="true"]~ .input-label {
        top:-20%;
        font-size: 0.8em;
        background-color: inherit;
        color: #7E57C2;
        letter-spacing: 1px;
        //visibility: hidden;
    }



}

ul.dropdown-list{

    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, .2);
    border-radius: 2px;
  
}

.checkbox{
    input[type="checkbox"]:focus + label::before {
        outline: #7E57C2    auto 3px;
    }
    label{
        padding: 1rem 0.6rem;
    }
}


