<h3>Select a joke</h3>
<label for="filter">Pick what type of fruit you like</label>
<div class="combo-wrap">
  <input
    type="text"
    id="filter-{{label}}"
    name="filter"
    [formControl]="filter"
    (click)="toggleDropdown()"
    (keydown)="handleKeyPress($event)"
    role="combobox"
    autocomplete="off"
    #input
    attr.aria-controls="{{label}}-types"
    aria-autocomplete="list"
    [attr.aria-expanded]="isDropdownOpen"
    [attr.aria-activedescendant]="currentOptionIndex"
    />
  <span class="icon" aria-hidden="true"></span>

  <ul id="{{label}}-types" role="listbox" attr.aria-label="{{label}}" class="dropdown-list"
  [attr.aria-hidden]="isDropdownOpen ? false : true"
  aria-multiselectable="true"
  [ngClass]="{'active': isDropdownOpen}"
  #dropdown
  >
    @for (item of options; track $index) {
        <li role="option" id="item-{{item.name}}-{{$index}}" 
        attr.aria-labelledby="{{$index}}-{{item.name}}-label"
        [attr.aria-hidden]="isDropdownOpen ? false : true"
        [attr.aria-checked]="item.selected"        
        [attr.aria-selected]="item.selected"
        [ngClass]="{'first':!item.id,'current':item.isActiveDescendant}"
        
        >
            <div class="checkbox" 
            >
                <input type="checkbox" id="{{$index}}-{{item.name}}" [name]="item.name" 
                [attr.aria-hidden]="!isDropdownOpen"
                [tabIndex]="isDropdownOpen ? 0 : -1"
                [(ngModel)]="item.selected"/>
                <label for="{{$index}}-{{item.name}}" id="{{$index}}-{{item.name}}-label">{{item.label}}</label>
            </div>
        </li>
    }
  
  </ul>
</div>
<div class="selected-elements" role="list">
  @for (item of selected; track item.id; let i=$index) {
    <div class="chip" role="listitem">
      <label>{{item.label}}</label>
      <button class="icon-button" [attr.aria-label]="'remove ' + item.label"></button>
    </div>
  }
</div>