<router-outlet />
<div class="main-container">
    <h2>Accessible version</h2>
    @if( filteredOptions$  | async; as filteredoptions ){

        <multiselect-dropdown 
        [label]="'jokes'"
        [filteredElements]="filteredoptions" 
        (filterValueChange)="updateList($event)"></multiselect-dropdown>
    }
    <div class="grid">
        <div class="box">
            <h3>Material Style</h3>
            @if( filteredFruits$  | async; as filteredFruits ){

                <material-multiselect
                [label]="'fruits'"
                [filteredElements]="filteredFruits" 
                (filterValueChange)="updateFruitList($event)"></material-multiselect>
            }
        </div>
        <div class="box">
            <h3>Bootstrap Italia Style</h3>
            @if( filteredVeggies$  | async; as filteredVeggies ){

                <bootstrap-multiselect
                [label]="'veggies'"
                [filteredElements]="filteredVeggies" 
                (filterValueChange)="updateVeggiesList($event)"></bootstrap-multiselect>
            }
        </div>
    </div>

    <h2>Pretty, but...</h2>
    <multiselect
    [options]="options"
    ></multiselect>

</div>