.combo-wrap{
    position: relative;
    margin-top: 1rem;

    input[type="text"]{
        width: 100%;
        padding: 0.5rem;
        box-sizing: border-box;
        position: relative;
    }
    .input-label{
        color: #262626;
        font-size: 1rem;
        text-transform: capitalize;
        left: 0;
        margin-left: 0.5rem;
        padding: 0 10px;
        pointer-events: none;
        position: absolute;
        top: calc(50% - 0.5rem);
        transition: all 0.2s linear;
        z-index: 2;

    }

    input:focus ~ .input-label, input[data-not-empty="true"]~ .input-label {

        top:-70%;
        background-color: inherit;
    }

    .icon::after {
        position:absolute;
        content:'';
        right: 1rem;
        top:calc(50% - 3px);
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #262626;
    }
}

ul.dropdown-list{
    list-style: none;
    background-color: #f3f3f3;
    box-sizing: border-box;
    width: 100%;    
    margin: 0;
    padding: 0;
    max-height: 10rem;
    overflow-y: auto;
    opacity: 0;
    transform: scale(1,0);
    transform-origin: top left;
    transition: all .2s ease-in-out;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    top:100%;
    left:0;
    z-index: 2;
    &.active {
        visibility: visible;
        opacity: 1;
        transform: scale(1,1);
        pointer-events: auto;

    }

    li{
        background-color: #f3f3f3;

        &.first{
            border-bottom: 1px solid;
            z-index: 3;
            position: sticky;
            top:0;
            
        }
        &.current {
            background: lightgray;
        }
        &:not(.current):hover{
            background: #e3e3e3;

        }
        &:focus{
            border: 1px dashed black;
        }
    }
}

.checkbox{



    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        right: 0;
    }
    label {
        position: relative;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        padding: 0.5rem;
        padding-right: 1rem;


        &::before,&::after{
            position: absolute;
            content: "";

        }

        &::before{
            display: inline-block;
            height: 1rem;
            width: 1rem;
            border: 1px solid;   
            right: 1rem;
            border-radius: 3px;
        }
        &::after {
            display: inline-block;
            height: 4px;
            width: 9px;
            border-left: 2px solid;
            border-bottom: 2px solid;
            right: calc(1rem + 4px);
            top: 13px;
            transform: rotate(-45deg);
            transition: opacity 0.2s;
        }
    }
    input[type="checkbox"] + label::after {
        opacity: 0;
    }
    input[type="checkbox"]:checked + label::after {
        opacity: 1;
    }
    input[type="checkbox"]:focus + label::before {
        outline: rgb(59, 153, 252) auto 3px;
    }
}
.selected-elements{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 10rem;
    .chip{
        display: flex;
        align-items: center;
        padding: 0.3rem 1rem;
        margin: 0.2rem;
        border: 1px solid lightgray;
        width: fit-content;
        border-radius: 0.5rem;
        .icon-button{
            background: none;
            border: none;
            border-radius: 50%;
            margin-left: 1rem;
            &::before{
                display: inline-block;
                content: '\002b';
                transform: rotate(45deg);
                font-size: 1.5rem;
            }
        }
    }
}

