<h3>Select a joke</h3>
<label for="filter">Pick what type of jokes you like</label>
<div class="combo-wrap">
  <input
    type="text"
    id="filter"
    name="filter"
    [formControl]="filter"
    (click)="toggleDropdown()"
    (keydown)="handleKeyPress($event)"
    role="combobox"
    autocomplete="off"
    #input
    aria-controls="joketypes"
    aria-autocomplete="list"
    [attr.aria-expanded]="isDropdownOpen"
    [attr.aria-activedescendant]="currentOptionIndex"
    />
  <span aria-hidden="true" data-trigger="multiselect"></span>

  <ul id="joketypes" role="listbox" aria-label="Jokes" class="dropdown-list"
  [attr.aria-hidden]="!isDropdownOpen"
  aria-multiselectable="true"
  [ngClass]="{'active': isDropdownOpen}"
  #dropdown
  >
    @for (item of options; track $index) {
        <li role="option" id="item{{$index}}" 
        attr.aria-labelledby="{{$index}}-label"
        [attr.aria-checked]="item.selected"        
        [attr.aria-selected]="item.selected"
        [ngClass]="{'first':!item.id,'current':item.isActiveDescendant}"
        >
            <div class="checkbox">
                <input type="checkbox" [id]="$index" [name]="item.name" [value]="item.name" [(ngModel)]="item.selected"/>
                <label [for]="$index" id="{{$index}}-label">{{item.label}}</label>
            </div>
        </li>
    }
  
  </ul>
</div>
<div class="selected-elements" role="list">
  @for (item of selected; track item.id; let i=$index) {
    <div class="chip" role="listitem">
      <label>{{item.label}}</label>
      <button class="icon-button" [attr.aria-label]="'remove ' + item.label"></button>
    </div>
  }
</div>