<div class="wrapper">
    <div class="select-btn " [ngClass]="{'open': openDropdown}" (click)="openDropdown = !openDropdown">
        <span class="btn-text">Select a joke</span>
        <span class="arrow-down">
    
        </span>
    </div>
    <ul class="list-items">
        @for (item of options; track $index) {
            <li class="item">
                <div class="checkbox">
                    <input type="checkbox" [id]="$index" [name]="item.name" [value]="item.name" [(ngModel)]="item.selected"/>
                    <label [for]="$index" id="{{$index}}-label">{{item.label}}</label>
                </div>
            </li>
        }
    
    </ul>
</div>